.field-required::after {
  content: ' *';
  color: red;
}
.subWait {
  background-color: #c0c0c0;
  cursor: wait;
}

#printPanel {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: SimHei;
  .print-wrapper {
    border: none;
    margin: 0;
    table {
      th, td {
        border: 1px solid #000;
        padding: 3px;
        text-align: center;
        white-space: nowrap;
        font-size: 14px;
      }
    }
  }
}
.print-wrapper {
  .el-table th, .el-table td {
    padding: initial !important;
    input {
      height: 16px !important;
    }
    .cell {
      padding: initial !important;
    }
  }
  &.print-wrapper-border {
    .el-table {
      td, th {
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: none !important;
        border-left: none !important;
        &:first-child {
          border-left: 1px solid #000 !important;
        }
      }
    }
    .el-table__footer {
      border-bottom: 2px solid #000 !important;
    }
  }
  &.has-sum-table {
    .el-table tr:last-child td {
      border-bottom: 2px solid #000 !important;
    }
  }
}
.el-table th, .el-table td {
  text-align: center !important;
  padding: 2px 0 !important;
  .cell {
    color: #000;
    .el-select {
      width: 100% !important;
    }
  }
  input {
    padding: initial !important;
  }
}