// 颜色定义规范
$color-background: #393232;
$color-text: #a2d5f2;

$color-text-l: rgba(255, 255, 255, 0.5);

$color-white: #fff;
$color-black: #000;
$color-gray: #f5f5f5;
$color-deepgray: #324157;
$color-green: #00CC33;
$color-red: #FF0000;
$color-blue: #409EFF;
$color-red: #FF0033;
$color-yellow: #E9F01D;
$color-active: #f298ae;
// $color-active: #F25D8E;

$appPaddingLR: 10px;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$font-size-large-xx: 52px;